{
    "tabWidth": 2,
    "printWidth": 80,
    "bracketSpacing": false,
    "explicitTypes": "preserve",
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 100,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "explicitTypes": "always"
            }
        },
        {
            "files": "*.md",
            "options": {
                "semi": false
            }
        }
    ]
}